In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
np.__version__

'1.24.4'

In [3]:
pd.__version__

'2.0.3'

In [8]:
#6.1

df = pd.DataFrame({'feature': [0.3, -2.1, 1.8, 2.5], 'labels': [2, 2, 0, 2]
                  })

In [9]:
df

   feature  labels
0      0.3       2
1     -2.1       2
2      1.8       0
3      2.5       2

In [10]:
#6.2

df = df.rename(columns={'labels': 'label'})

In [11]:
df

   feature  label
0      0.3      2
1     -2.1      2
2      1.8      0
3      2.5      2

In [ ]:
#6.3

iris = sns.load_dataset('iris')

iris.sort_values("