In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
np.__version__

'1.24.4'

In [3]:
pd.__version__

'2.0.3'

In [8]:
#6.1

df = pd.DataFrame({'feature': [0.3, -2.1, 1.8, 2.5], 'labels': [2, 2, 0, 2]
                  })

In [9]:
df

   feature  labels
0      0.3       2
1     -2.1       2
2      1.8       0
3      2.5       2

In [10]:
#6.2

df = df.rename(columns={'labels': 'label'})

In [11]:
df

   feature  label
0      0.3      2
1     -2.1      2
2      1.8      0
3      2.5      2

In [12]:
#6.3

iris = sns.load_dataset('iris')

iris.sort_values('species', ascending = False)

     sepal_length  sepal_width  petal_length  petal_width    species
149           5.9          3.0           5.1          1.8  virginica
111           6.4          2.7           5.3          1.9  virginica
122           7.7          2.8           6.7          2.0  virginica
121           5.6          2.8           4.9          2.0  virginica
120           6.9          3.2           5.7          2.3  virginica
..            ...          ...           ...          ...        ...
31            5.4          3.4           1.5          0.4     setosa
30            4.8          3.1           1.6          0.2     setosa
29            4.7          3.2           1.6          0.2     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa

[150 rows x 5 columns]