In [ ]:
#3.1 

# would print nothing

In [10]:
#3.2

xx = [-2, 8, 0, 5, 6]
max_val = max(xx)
for x in xx:
    
    if x < max_val:
        print(x)
    else:
        print(max_val)

-2
8
0
5
6

In [13]:
#3.3

it = 0
max_iter = 100

while it < max_iter:
    if it == 0 or it % 10 == 0:
        print(it)
    it+=1
    
    if it >= max_iter:
        break

0
10
20
30
40
50
60
70
80
90

In [16]:
#3.4

my_list = ["Hank","Jen", "Larry", "Mike"]

for i in my_list:
    i.lower()
    print(i.lower())

hank
jen
larry
mike

In [21]:
#3.5
for i in iter(my_list):
    print(i)

Hank
Jen
Larry
Mike

In [22]:
dictionary = {"Winchester": 22601, "Charlottesville": 22904}


for i,j in dictionary.items():
    print(i,j)

Winchester 22601
Charlottesville 22904

In [24]:
#3.7

for i in dictionary.keys():
    print(i)

Winchester
Charlottesville